<a href="https://colab.research.google.com/github/sameepshrestha/Mission-Chatbot/blob/main/Mission_chatbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import tensorflow 
from tensorflow import keras
from keras import layers
import json 
import re 
import os

In [4]:
# data preprocessing 
# the main part of any machine learning is the data preprocessing 
# which includes both collection of the data and transforming this data into learnable input

In [5]:
# first we deleted all the unnesseary dataset such as images and videos as these are not the parameters that 
# are to be learned

In [80]:
datapath ='/content/drive/MyDrive/chat bots/messages/inbox'

def content_remover(contents):
    if re.search(r'^https?:\/\/',contents) or contents.startswith('ð')  or contents.startswith(''):
        return True
def cleaner (contents):
    contents= re.sub(r'ð','',contents)
    return contents
def facebook_data( datapath ):
    t_list = []
    count = 0 
    c = 0
    for direc in os.listdir(datapath):
        for dir in os.listdir(os.path.join(datapath,direc)):
            d_js = open(os.path.join(datapath,direc,dir))
            data = json.load(d_js)
            if (len(data['participants']) == 2) & (len(data['messages']) >= 4):
                participa=[ ]
                for name in data['participants']:
                    # print(name)
                    participa.append(name['name'])
                for messages in data['messages']:
                    if 'content' in messages.keys():
                        if not content_remover(messages['content']):
                            contents = cleaner(messages['content'])
                            if (messages['sender_name'] != participa[0]) & (messages['sender_name'][0].lower()  in 'abcdefghijklmnopqrstuvwxyz'): 
                                t_list.append([participa[1],participa[0],contents,messages['timestamp_ms']])
                            elif (messages['sender_name'] != participa[1]) & (messages['sender_name'][0].lower()  in 'abcdefghijklmnopqrstuvwxyz'):
                                t_list.append([participa[0],participa[1],contents,messages['timestamp_ms']])
    print(c)
    return t_list

In [81]:
t_list= facebook_data(datapath)
print(len(t_list))
t_list[:10]

0
149787

[['Vicky Sharma', 'Sameep Shrestha', 'Yes', 1446026666647],
 ['Sameep Shrestha', 'Vicky Sharma', 'vicky', 1446001902714],
 ['Sameep Shrestha',
  'Vicky Sharma',
  'chup kati thyo hijo ma snga xaina...\\',
  1412560649856],
 ['Vicky Sharma', 'Sameep Shrestha', 'tyo sanga xaina', 1412560569458],
 ['Sameep Shrestha',
  'Vicky Sharma',
  'utha ja xaina ma snga madu snga mag tyo snga tanai thyo',
  1412560547624],
 ['Vicky Sharma', 'Sameep Shrestha', 'Tyti help garde na', 1412560542685],
 ['Vicky Sharma', 'Sameep Shrestha', 'Please yar', 1412560534901],
 ['Vicky Sharma', 'Sameep Shrestha', 'Ma sanga aile xaina kya', 1412560527929],
 ['Vicky Sharma',
  'Sameep Shrestha',
  'Haldinxu yar biswas gar na',
  1412560517468],
 ['Vicky Sharma', 'Sameep Shrestha', 'Ke ko ullu', 1412560507925]]

In [82]:
data_set=pd.DataFrame(t_list,columns=['From','to','Message','timestamp_ms'])
dataset=data_set.sort_values('timestamp_ms')

In [83]:
data_set.to_csv (r'/content/drive/MyDrive/chat bots/export_dataframe.csv', index = False, header=True)

In [84]:
import pandas as pd
dataset = pd.read_csv(open('/content/drive/MyDrive/chat bots/export_dataframe.csv','rU'), encoding='utf-8', engine='c')
dataset.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: 'U' mode is deprecated

              From  ...  timestamp_ms
0     Vicky Sharma  ...  1.446027e+12
1  Sameep Shrestha  ...  1.446002e+12
2  Sameep Shrestha  ...  1.412561e+12
3     Vicky Sharma  ...  1.412561e+12
4  Sameep Shrestha  ...  1.412561e+12

[5 rows x 4 columns]

In [85]:
friend_name = dataset['From'].unique()

In [86]:
dataset =dataset.sort_values('timestamp_ms')
dataset = dataset.reset_index(level=None,drop=True)
dataset = dataset.dropna()
dataset.tail(100)

                   From  ...  timestamp_ms
149677    Narmada Dahal  ...  1.621312e+12
149678  Sameep Shrestha  ...  1.621312e+12
149679    Narmada Dahal  ...  1.621312e+12
149680  Sameep Shrestha  ...  1.621312e+12
149681    Narmada Dahal  ...  1.621312e+12
...                 ...  ...           ...
149772    Narmada Dahal  ...  1.621313e+12
149773    Narmada Dahal  ...  1.621313e+12
149774    Narmada Dahal  ...  1.621313e+12
149775    Narmada Dahal  ...  1.621313e+12
149776  Sameep Shrestha  ...  1.621313e+12

[100 rows x 4 columns]

In [87]:
def combined_dataset (data):
    result = data['From'][0]
    result2 = data['to'][0]
    result3 = data['Message'][0]
    print(result)
    new = []
    for fro,to,messa,time in zip(data['From'][1:],data['to'][1:],data['Message'][1:],data['timestamp_ms'][1:]):
        if (result==fro and result2 == to) :
            result3 = result3 + ' ' +messa
        else:
            new.append([result,result2,result3,time])
            print(result3)
            result = fro
            result2 = to 
            result3 = messa
    return new

In [ ]:

data =combined_dataset(dataset)

In [ ]:
data[-25:]

In [91]:
clen_arranged_data = pd.DataFrame(data,columns=['From','to','Message','timestamp_ms'])
clen_arranged_data.head(20)

                From  ...  timestamp_ms
0          Puspa Rai  ...  1.373896e+12
1    Sameep Shrestha  ...  1.373896e+12
2          Puspa Rai  ...  1.373982e+12
3    Sameep Shrestha  ...  1.373986e+12
4    Kritisha Khadka  ...  1.374197e+12
5    Sameep Shrestha  ...  1.374298e+12
6    Sameep Shrestha  ...  1.374596e+12
7   Dipesh Chapagain  ...  1.374596e+12
8    Sameep Shrestha  ...  1.374675e+12
9    Sameep Shrestha  ...  1.374675e+12
10       Spponge Bob  ...  1.374675e+12
11   Sameep Shrestha  ...  1.374675e+12
12       Spponge Bob  ...  1.374676e+12
13   Sameep Shrestha  ...  1.374676e+12
14       Spponge Bob  ...  1.374676e+12
15   Sameep Shrestha  ...  1.374676e+12
16       Spponge Bob  ...  1.374676e+12
17   Sameep Shrestha  ...  1.374676e+12
18       Spponge Bob  ...  1.374676e+12
19   Sameep Shrestha  ...  1.374676e+12

[20 rows x 4 columns]