<a href="https://colab.research.google.com/github/sameepshrestha/Mission-Chatbot/blob/main/Mission_chatbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import tensorflow 
from tensorflow import keras
from keras import layers
import json 
import re 
import os

In [4]:
# data preprocessing 
# the main part of any machine learning is the data preprocessing 
# which includes both collection of the data and transforming this data into learnable input

In [5]:
# first we deleted all the unnesseary dataset such as images and videos as these are not the parameters that 
# are to be learned

In [80]:
datapath ='/content/drive/MyDrive/chat bots/messages/inbox'

def content_remover(contents):
    if re.search(r'^https?:\/\/',contents) or contents.startswith('ð')  or contents.startswith(''):
        return True
def cleaner (contents):
    contents= re.sub(r'ð','',contents)
    return contents
def facebook_data( datapath ):
    t_list = []
    count = 0 
    c = 0
    for direc in os.listdir(datapath):
        for dir in os.listdir(os.path.join(datapath,direc)):
            d_js = open(os.path.join(datapath,direc,dir))
            data = json.load(d_js)
            if (len(data['participants']) == 2) & (len(data['messages']) >= 4):
                participa=[ ]
                for name in data['participants']:
                    # print(name)
                    participa.append(name['name'])
                for messages in data['messages']:
                    if 'content' in messages.keys():
                        if not content_remover(messages['content']):
                            contents = cleaner(messages['content'])
                            if (messages['sender_name'] != participa[0]) & (messages['sender_name'][0].lower()  in 'abcdefghijklmnopqrstuvwxyz'): 
                                t_list.append([participa[1],participa[0],contents,messages['timestamp_ms']])
                            elif (messages['sender_name'] != participa[1]) & (messages['sender_name'][0].lower()  in 'abcdefghijklmnopqrstuvwxyz'):
                                t_list.append([participa[0],participa[1],contents,messages['timestamp_ms']])
    print(c)
    return t_list

In [ ]:
t_list= facebook_data(datapath)
print(len(t_list))
t_list[:10]

In [82]:
data_set=pd.DataFrame(t_list,columns=['From','to','Message','timestamp_ms'])
dataset=data_set.sort_values('timestamp_ms')

In [83]:
data_set.to_csv (r'/content/drive/MyDrive/chat bots/export_dataframe.csv', index = False, header=True)

In [2]:
import pandas as pd
dataset = pd.read_csv(open('/content/drive/MyDrive/chat bots/export_dataframe.csv','rU'), encoding='utf-8', engine='c')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: 'U' mode is deprecated

In [3]:
friend_name = dataset['From'].unique()

In [4]:
dataset =dataset.sort_values('timestamp_ms')
dataset = dataset.reset_index(level=None,drop=True)
dataset = dataset.dropna()
dataset.tail(20)

                   From  ...  timestamp_ms
149757    Narmada Dahal  ...  1.621313e+12
149758  Sameep Shrestha  ...  1.621313e+12
149759    Narmada Dahal  ...  1.621313e+12
149760  Sameep Shrestha  ...  1.621313e+12
149761  Sameep Shrestha  ...  1.621313e+12
149762    Narmada Dahal  ...  1.621313e+12
149763    Narmada Dahal  ...  1.621313e+12
149764    Narmada Dahal  ...  1.621313e+12
149765    Narmada Dahal  ...  1.621313e+12
149766    Narmada Dahal  ...  1.621313e+12
149767    Narmada Dahal  ...  1.621313e+12
149768    Narmada Dahal  ...  1.621313e+12
149769    Narmada Dahal  ...  1.621313e+12
149770  Sameep Shrestha  ...  1.621313e+12
149771  Sameep Shrestha  ...  1.621313e+12
149772    Narmada Dahal  ...  1.621313e+12
149773    Narmada Dahal  ...  1.621313e+12
149774    Narmada Dahal  ...  1.621313e+12
149775    Narmada Dahal  ...  1.621313e+12
149776  Sameep Shrestha  ...  1.621313e+12

[20 rows x 4 columns]

In [5]:
def combined_dataset (data):
    result = data['From'][0]
    result2 = data['to'][0]
    result3 = data['Message'][0]
    print(result)
    new = []
    for fro,to,messa,time in zip(data['From'][1:],data['to'][1:],data['Message'][1:],data['timestamp_ms'][1:]):
        if (result==fro and result2 == to) :
            result3 = result3 + ' ' +messa
        else:
            new.append([result,result2,result3,time])
            print(result3)
            result = fro
            result2 = to 
            result3 = messa
    return new

In [ ]:

data =combined_dataset(dataset)

In [8]:
clen_arranged_data = pd.DataFrame(data,columns=['From','to','Message','timestamp_ms'])
clen_arranged_data.tail(20)

                  From  ...  timestamp_ms
94236  Sameep Shrestha  ...  1.621313e+12
94237    Narmada Dahal  ...  1.621313e+12
94238  Sameep Shrestha  ...  1.621313e+12
94239    Narmada Dahal  ...  1.621313e+12
94240  Sameep Shrestha  ...  1.621313e+12
94241    Narmada Dahal  ...  1.621313e+12
94242  Sameep Shrestha  ...  1.621313e+12
94243    Narmada Dahal  ...  1.621313e+12
94244  Sameep Shrestha  ...  1.621313e+12
94245    Narmada Dahal  ...  1.621313e+12
94246  Sameep Shrestha  ...  1.621313e+12
94247    Narmada Dahal  ...  1.621313e+12
94248  Sameep Shrestha  ...  1.621313e+12
94249    Narmada Dahal  ...  1.621313e+12
94250  Sameep Shrestha  ...  1.621313e+12
94251    Narmada Dahal  ...  1.621313e+12
94252  Sameep Shrestha  ...  1.621313e+12
94253    Narmada Dahal  ...  1.621313e+12
94254  Sameep Shrestha  ...  1.621313e+12
94255    Narmada Dahal  ...  1.621313e+12

[20 rows x 4 columns]

In [9]:
clen_arranged_data.to_csv (r'/content/drive/MyDrive/chat bots/simultaneous.csv', index = False, header=True)