<a href="https://colab.research.google.com/github/sameepshrestha/Mission-Chatbot/blob/main/word_vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

word2vec model : https://arxiv.org/pdf/1310.4546.pdf 

used for representing the different words as  vector capturing the context on which they are used.
First things first let us get the total vocab of our data ,we still need a little cleaning left in our data lets do that first shall we.

In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: agg

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
dataset = pd.read_csv('/content/drive/MyDrive/chat bots/final_dataset.csv')
dataset.head()

               From  ...                                     reply
0         Puspa Rai  ...                                  Thik. Xa
1  Dipesh Chapagain  ...          hlo \ni am a friend of sameep...
2       Spponge Bob  ...                      Ah ta aja tst ma gad
3       Spponge Bob  ...  Xup pas ta humxu ful marks audaina bujis
4       Spponge Bob  ...                  Ha kasari xange hanu pas

[5 rows x 3 columns]

In [41]:
import re
def remove(message):
    pure = ''
    for letter in message:
        if letter in 'abcdefghijklmnopqrstuvwxyz' or letter == ' ':
              pure = pure + letter
    # print(pure)
    return pure
        
def remove_haha(message):
    sentence=''
    for word in message.split():
        if re.search('haha',word):
            sentence = sentence+' '+ 'haha'
        else :
            sentence = sentence+' '+ word
    return sentence
def remove_and_clean(message):  
    
    clean_message = remove(message.lower())
    clean_message = remove_haha(clean_message)
    # print(clean_message)
    return clean_message 
dataset['clean_message']= dataset.apply(lambda x : remove_and_clean(x['Message']) ,axis=1)
dataset['clean_reply']= dataset.apply(lambda x : remove_and_clean(x['reply']) ,axis=1)

In [42]:
dataset.head()

               From  ...                                clean_reply
0         Puspa Rai  ...                                    thik xa
1  Dipesh Chapagain  ...                hlo i am a friend of sameep
2       Spponge Bob  ...                       ah ta aja tst ma gad
3       Spponge Bob  ...   xup pas ta humxu ful marks audaina bujis
4       Spponge Bob  ...                   ha kasari xange hanu pas

[5 rows x 5 columns]